html {
    margin: 0;
    padding: 0;
    height: 100%;
}
body{
    margin: 0;
    padding: 0;
    height: 100%;
    background: #f9cf63;
}

header{
    height: 77px;
    position: fixed;
    background: #7e0d09;
    width: 100%;
    z-index: 9999;
}

.logo-box {
    width: 15%;
    float: left;
}

.logo-img {
    width: 240px;
}

.nav-block {
    margin-left: 7%;
    min-width: 700px;
    display: inline-block;
    width: 78%;
}
.nav-bar {
    margin-right: 280px;
    list-style-type: none;
    min-width: 700px;
    margin-top: 25px;
}

.nav-member {
    height: 35px;
    width: 100px;
    float: right;
    margin-top: 25px;
    margin-right: 30px;
    cursor: pointer;
    background: silver;
}

.nav-member-text{
    height: 35px;
    width: 100px;
    float: right;
    margin-top: 25px;
    margin-right: 30px;
    color: white;
}

.nav-li {
    display: inline;
    padding: 50px;
    font-family: lato,san-serif;
    font-size: 20px;
    color: #333;
    line-height: 140%;
}

a {
    text-decoration: none;
}

a:link {
    color: #7f0b01;
}

.nav-bar a:link {
    color: #ecae3b;
}

a:visited {
    color: #7f0b01;
}

.nav-bar a:visited {
    color: #ecae3b;
}

a :hover {
    color: #f9cf63;
}










footer {
    font-size: 120%;
    text-align: center;
    clear: right;
    padding: 20px;
    background-color: #7f0b01;
    color: white;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
}

.main-body{
    background: #f9cf63;
    /* min-height: 100vh; */
}
.body-wrapper{
    min-height: 100%;
    position: relative;
}

.quick-book {
    float: left;
    margin-top: 170px;
    padding-left: 3%;
    /* width: 15%; */
}


.movie-overview {
    margin-top: 170px;
    padding-bottom: 90px;
    display: inline-block;
    margin-left: 7%;
    width: 75%;
}

.book-form {
    font-family: Arial, sans-serif;
    padding: 17px;
    border: 4px #ffffff solid;
    border-radius: 25px;
    background-image: linear-gradient(#ffaca5,#7f0b01);
    color: white;

}

.book-form label {
    clear: left;
    display: block;
    width: 110px;
    text-align: left;
    padding-right: 35px;
    margin-top: 15px;
}

.book-form input, .book-form select {
    margin-top: 15px;
    display: block;
    width: 130px;
}

.movie-posters {
    width: 900px;
    height: 600px;
    padding-right: 80px;
    border: none;
    border-collapse: collapse;
}

.movie-posters td {
    border: none;
}

.poster {
    height: 250px;
}

.movie-overview td {
    width: 250px;
    height: 350px;
}
