body{
    margin: 0;
}

.logo-box {
    position: absolute;
}

.logo-img {
    width: 240px;
    margin-top: 10px;
}

.nav-block {
    margin-left: 20%;
    min-width: 700px;
    position: absolute;
}
.nav-bar {
    margin-right: 280px;
    list-style-type: none;
    min-width: 700px;
}

.nav-member {
    height: 35px;
    width: 100px;
    float: right;
    margin-top: 35px;
    margin-right: 30px;
    cursor: pointer;
}

.nav-li {
    display: inline;
    padding: 50px;
    font-family: lato,san-serif;
    font-size: 20px;
    color: #333;
    line-height: 140%;
}

a {
    text-decoration: none;
}

a:link {
    color: #3f454f;
}

a:visited {
    color: #3f454f;
}

a:hover {
    color: #db8529;
}










footer {
    font-size: 120%;
    text-align: center;
    clear: right;
    padding: 20px;
    background-color: #d3cec9;
    color: black;
    position: relative;
    left: 0;
    right: 0;
    bottom: 0;
}





.quick-book {
    float: left;
    position: absolute;
    margin-top: 170px;
    margin-left: 3%;
    border: 1px lightgrey solid;
    border-radius: 25px;
    background: #efefef;
}


.movie-overview {
    margin-top: 170px;
    margin-bottom: 30px;
    display: inline-block;
    margin-left: 25%;
}

.book-form {
    font-family: Arial, sans-serif;
    padding: 17px;
}

.book-form label {
    clear: left;
    display: block;
    width: 110px;
    text-align: left;
    padding-right: 35px;
    margin-top: 15px;
}

.book-form input, .book-form select {
    margin-top: 15px;
    display: block;
    width: 130px;
}

.movie-posters {
    width: 900px;
    height: 600px;
    padding-right: 80px;
    border: none;
    border-collapse: collapse;
}

.movie-posters td {
    border: none;
}

.poster {
    height: 250px;
}

.movie-overview td {
    width: 250px;
    height: 350px;
}
