
.main-body {
    padding: 120px 120px 30px 120px;
    margin-bottom: 30px;
}

.poster {
    float: left;
}

.poster-img {
    height: 270px;
    width: 180px;
}

.ticket-info {
    position: absolute;
    right: 10%;
}

.movie {
    padding-left: 250px;
}

h3 {
    margin-top: 0;
}

#addto-cart {
    width: 230px;
    height: 30px;
    margin-bottom: 10px;
}

#confirm, #cancel {
    width: 110px;
    height: 30px;
}

#cancel {
    margin-left: 6px;
}


input[type="checkbox"]:not(:checked), 
input[type="checkbox"]:checked {
    position: absolute;
    left: -9999%;
}

input[type="checkbox"] + label {
    display: inline-block;
    padding: 5px;
    cursor: pointer;
    border: 1px solid #000000;
    color: #000000;
    background-color: white;
    margin-bottom: 10px;
    border-radius: 6px;
    margin-right: 5px;
}

input[type="checkbox"]:checked + label {
    border: 1px solid black;
    color: #760afb;
    background-color: #ddea0f;
}

/* .center {
    margin-left: auto;
    margin-right: auto;
} */

input[type="checkbox"]:disabled + label  {
    background-color: gray;
}

input[name="reserved"]:disabled + label {
    background-color: skyblue;
}

.seats {
    border: 1px solid black;
    border-radius: 6px;
    width: fit-content;
    margin-left: 30px;
}

.screen {
    text-align: center;
    margin-top: 0;
}

.screenhr {
    width: 50%;
    margin-bottom: 0;
}

#hidden {
    display: none;
}

.foo {
    width: 20px;
    height: 20px;
    margin: 5px 5px 0 5px;
    border: 1px solid rgba(0, 0, 0, .2);
    display: inline-block;
  }
  
  .white {
    background: white;
  }
  
  .gray {
    background: gray;
  }
  
  .skyblue {
    background: skyblue;
  }

  .yellow {
      background: #ddea0f;
  }

  .color {
    margin-left: 30px;
    margin-bottom: 30px;
  }
