
.main-body{
    padding: 120px;
}

.cinema-info {
    float: left;
    padding: 17px;
    border: 4px #ffffff solid;
    border-radius: 25px;
    background-image: linear-gradient(#ffaca5,#7f0b01);
    color: white;
}

.survey-block {
    width: fit-content;
    margin-left: 500px;
    padding: 17px;
    border: 4px #ffffff solid;
    border-radius: 25px;
    background-image: linear-gradient(#ffaca5,#7f0b01);
    color: white;
}

address {
    padding-left: 50px;
}

.survey {
    padding-left: 30px;
}

.survey label {
    width: 100px;
    text-align: left;
    padding-right: 35px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.survey input {
    margin-top: 15px;
    width: 130px;
    margin-bottom: 15px;
}

.survey textarea {
    margin-top: 20px;
    width: 245px;
}

h4 {

    width: 350px;
}